.sidebar-profile {
  position: relative;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  z-index: 10;

  .user {
    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.1));
      }
    }

    .personal-info {
      .pseudo p {
        text-transform: uppercase;
        font-weight: 700;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        line-height: 18px;
      }

      .email p {
        text-transform: lowercase;
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 18px;
        text-decoration-line: underline;
      }
    }
  }

  .biography {
    background: #F5F5F5;
    border-radius: 10px;
    margin-bottom: 3rem;

    p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: justify;
    }
  }

  .sections {
    .sections-list {
      list-style: none;

      li {
        cursor: pointer;
        i,span {
          color: #C6C6C6;
        }
        a {
          text-decoration: none;
        }
        i {
          font-size: 30px;
        }
        span {
          font-size: 15px;
          line-height: 18px;
        }
      }
    }

    .sections-list li.isActive {
        cursor: default !important;
        a,i,span {
          color: #000 !important;
        }
    }
  }
}
