<div class="sidebar-profile bg-white p-4">
  <div class="user d-flex align-items-center">
    <div class="avatar">
      <img [src]="(currentUser$ | async).avatarUrl" alt="Avatar">
    </div>
    <div class="personal-info ms-4">
      <div class="pseudo">
        <p class="mb-2">{{ (currentUser$ | async).pseudo }}</p>
      </div>
      <div class="email">
        <p class="mb-0">{{ (currentUser$ | async).email }}</p>
      </div>
    </div>
  </div>
  <hr class="my-4">
  <div class="biography p-2">
    <p>
      Biographie : Le métier de Développeur Web étant ma passion première, j'aimerais être responsable de la vie d'un
      site
      web au sein d'une entreprise informatique.
    </p>
  </div>
  <div class="sections">
    <ul class="sections-list ps-0 mb-0">
      <li class="d-flex align-items-center mb-3" *ngFor="let section of profileSectionsData">
        <a class="d-flex align-items-center" routerLinkActive="isActive" [routerLink]="[section.routePath]"
          [routerLinkActiveOptions]="{exact:true}">
          <i [ngClass]=" section.icon"></i>
          <span class="my-0 ms-4">{{ section.textvalue }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>