.page-container {
  overflow: hidden;

.catalog-container {
  padding: 0px 8rem;

  .intro-presentation {
    position: relative;

    .title {
      font-size: 50px;
      font-weight: 400;
    }

    .description {
      font-size: 18px;
    }

    .custom-btn {
      background: linear-gradient(180.37deg, #011F3E 0.09%, #153981 100%);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      transition: all .2s;

      .bi-play-circle {
        font-size: 30px;
      }
    }

    .custom-btn:hover {
      transform: scale(.9);
    }

    .categories-list {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-left: 12px;

      ul {
        flex-wrap: wrap;
        list-style: none;

        li {
          position: relative;
          cursor: pointer;
        }

        li .red-point {
          position: absolute;
          top: -5px;
          left: -12px;
          width: 23px;
          height: 23px;
          background-color: #F04863;
          border-radius: 50%;
          z-index: -1;
          transition: all .2s;
        }

        li:hover .red-point {
          background-color: #153981;
        }

        li p.name {
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.05em;
        }

        li p.desc {
          width: 80%;
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          letter-spacing: 0.05em;
          color: #8F8F8F;
        }
      }
    }

    .categories-list ul li:nth-child(1),
    .categories-list ul li:nth-child(2),
    .categories-list ul li:nth-child(3) {
      margin-bottom: 3rem;
    }
  }
}
}

.courses-container {
  padding: 0 0 0 4rem;
  margin-top: 10rem;
}
