.navbar {
  position: relative;
  background: linear-gradient(180.37deg, #011F3E 0.09%, #153981 100%);
  z-index: 999;

  .navbar-menu {
    .brand h1 {
      font-size: 30px;
      cursor: pointer;
    }

    .menu-list {
      list-style: none;

      li a {
        color: #fff;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: all .5s;
      }

      li a:hover {
        border-bottom: 2px solid #fff;
      }

      li .activeRoute {
        border-bottom: 2px solid #fff;
      }
    }
  }

  .disabled-true {
    cursor: default;
  }

  .disabled-false {
    cursor: pointer;
  }

  .profile {
    .profile-info {
      cursor: pointer;
    }

    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;

      img {
        object-fit: cover;
        border-radius: 50%;
      }
    }
    i {
      font-size: 45px;
      cursor: pointer;
    }
  }

}

::ng-deep .custom-modal {
  mat-dialog-container {
    border-radius: 20px !important;
    padding: 0 !important;
    background: transparent;
  }
}
