<div class="row">
  <div class="col-12 px-0">
    <div class="authentification-container">
      <img class="background-img w-100 h-100" src="../../../assets/img/background.png" alt="Background">
      <div class="title">
        <h3 class="text-white">Learning-Box</h3>
      </div>
      <div class="slogan text-white">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <button class="btn bg-white py-2 px-3" *ngIf="(isAuth$ | async)">
        Accéder aux Catalogues
      </button>
    </div>
  </div>
</div>
