<div class="row">
  <div class="col-12 px-0">
    <nav class="navbar d-flex justify-content-between px-4">
      <div class="brand">
        <h1 class=" text-white">Logo</h1>
      </div>
      <div class="profile dropdown">
        <i class="bi bi-person-circle dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="onAuth('login')">Se connecter</a></li>
          <li><a class="dropdown-item" (click)="onAuth('signup')">S'inscrire</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
