.course {
  width: 370px;
  cursor: pointer;
  transition: all .2s;

  .preview-cover {
    height: 180px;
  }

  .preview-cover img {
    object-fit: cover;
    object-position: center;
  }

  p.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
  }

  p.author {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #8F8F8F;
  }

  .rate-and-price {
    .rate {
      color: #FED605;
    }

    .price {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.05em;
    }
  }
}

.course:hover {
  background: #f0f0f0;
}
